:root {
    --black: #1C1C1C;
    --gray-dark: #32323280;
    --gray-light: #9B9B9B;
    --white: #FFFFFF;

    --green-dark: #1ED760;
    --green-mid: #4BDF80;
    --green-light: #78E7A0;

    --background1: rgba(28, 28, 28, 0.50);

    --background2: #272828;
    
}

body {
    background-color: rgb(157, 157, 157);
}

/* h1 {
    margin-top: 300px;
    padding: 50px;
    border-radius: 12px;
    background-color: var(--background-transparent1);
    backdrop-filter: blur(2px);
} */